{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Login" %}{% endblock %}

{% block content %}

<h1>{% trans "Login" %}</h1>

<p>{% blocktrans %}If you have not created an account yet, then please
  <a href="{{ signup_url }}">signup</a> first.{% endblocktrans %}</p>

<form class="login" method="POST" action="{% url 'account_login' %}"s>
  {% csrf_token %}
  {{ form|crispy }}
  <button class="btn btn-primary" type="submit">{% trans "Login" %}</button>
</form>

{% endblock %}
